<launch>
	<param name="/use_sim_time" value="true"/>
	<!--Launch rosbag-->
	<node pkg="rosbag" type="play" name="player" args="-r 0.01 --clock /home/mquan/Downloads/KITTI/kitti_2011_09_26_drive_0005_synced.bag">
	</node>
	
	<!-- Octomapping -->
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server" output="screen">
		<param name="resolution" value="0.1" />
		
		<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
		<param name="frame_id" type="string" value="world" />
		
		<!-- maximum range to integrate (speedup!) -->
		<param name="sensor_model/max_range" value="20.0" />

		<!-- to prepare topic as needed -->
		<param name="latch" value="false" />
		
		<!-- filter ground -->
		<param name="filter_ground" value="true" />
		<param name="ground_filter/distance" value="0.15" />
		<param name="ground_filter/angle" value="0.2" />
		<param name="ground_filter/plane_distance" value="0.1" />


		<param name="base_frame_id" value="base_link"/>

		<!-- data source to integrate (PointCloud2) -->
		<remap from="cloud_in" to="/kitti/velo/pointcloud" />

		<param name="pointcloud_min_x" value="0.0" />
		<param name="pointcloud_min_y" value="-10.0" />
		<param name="pointcloud_max_y" value="10.0" />
		<param name="pointcloud_min_z" value="0.0" />
		<param name="pointcloud_max_z" value="3.5" />

		<!--to visualize conflict cells-->
		<param name="publish_conf_cells" value="true" />

		<!--image vis-->
		<remap from="image_in" to="/kitti/camera_color_left/image_raw" />
		<remap from="cam_info" to="/kitti/camera_color_left/camera_info" />
	</node> 
	
</launch> 
