<launch>
	<param name="/use_sim_time" value="true"/>
	<!--RViz-->
	<node type="rviz" name="rviz" pkg="rviz" args="-d octomap_conf_cluster.rviz" />

	<!--Launch rosbag-->
	<node pkg="rosbag" type="play" name="player" args="-r 0.075 --clock /home/mqdao/Downloads/KITTI/kitti_2011_09_26_drive_0005_synced.bag">
	</node>
	
	<!-- Octomapping -->
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server" output="screen">
		<param name="resolution" value="0.15" /> <!--past good: 0.1-->
		
		<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
		<param name="frame_id" type="string" value="world" />
		
		<!-- maximum range to integrate (speedup!) -->
		<param name="sensor_model/max_range" value="45.0" />

		<!-- to prepare topic as needed -->
		<param name="latch" value="false" />
		
		<!-- filter ground -->
		<param name="filter_ground" value="false" />
		<param name="ground_filter/distance" value="0.15" />
		<param name="ground_filter/angle" value="0.2" />
		<param name="ground_filter/plane_distance" value="0.1" />


		<param name="base_frame_id" value="base_link"/>

		<!-- data source to integrate (PointCloud2) -->
		<remap from="cloud_in" to="/kitti/velo/pointcloud" />

		<param name="pointcloud_min_x" value="0.0" />
		<param name="pointcloud_min_y" value="-10.0" />
		<param name="pointcloud_max_y" value="5.0" />
		<param name="pointcloud_min_z" value="0.35" />
		<param name="pointcloud_max_z" value="3.5" />

		<!-- for clustering conflict cloud-->
		<param name="cluster_tolerance" value="1.15" /> <!--0.75 -> 7 clusters-->
		<param name="cluster_size_min" value="10" />

		<!-- for conflict cells-->
		<param name="evidTree/lambda_free" value="0.4" />
		<param name="evidTree/lambda_occupied" value="0.85" />
		<param name="evidTree/conf_thres" value="0.35" />
		<param name="evidTree/tau" value="1.0" />  <!--past good: 1.3-->

		<!--to visualize conflict cells-->
		<param name="publish_conf_cells" value="true" />

		<!--image vis-->
		<remap from="image_in" to="/kitti/camera_color_left/image_raw" />
		<remap from="cam_info" to="/kitti/camera_color_left/camera_info" />
	</node> 
	
</launch> 
